.danceelectronic-icon,
.radar-icon {
  position: absolute;
  top: 1235px;
  left: 198px;
  border-radius: var(--br-8xs);
  width: 182px;
  height: 104px;
  object-fit: cover;
}
.radar-icon {
  left: 0;
}
.decades-icon,
.experience-equals-icon,
.focus-icon,
.party-icon,
.sleep-icon,
.workout-icon {
  position: absolute;
  top: 1115px;
  left: 198px;
  border-radius: var(--br-8xs);
  width: 182px;
  height: 104px;
  object-fit: cover;
}
.experience-equals-icon,
.focus-icon,
.party-icon,
.sleep-icon,
.workout-icon {
  left: 0;
}
.experience-equals-icon,
.focus-icon,
.party-icon,
.workout-icon {
  top: 995px;
  left: 198px;
}
.focus-icon,
.party-icon,
.workout-icon {
  left: 0;
}
.party-icon,
.workout-icon {
  top: 875px;
  left: 198px;
}
.workout-icon {
  left: 0;
}
.afro-icon,
.alternative-icon,
.equal-icon,
.frequency-icon,
.hip-hop-icon,
.live-events-icon,
.rnb-icon,
.soul-icon {
  position: absolute;
  top: 755px;
  left: 198px;
  border-radius: var(--br-8xs);
  width: 182px;
  height: 104px;
  object-fit: cover;
}
.afro-icon,
.equal-icon,
.frequency-icon,
.hip-hop-icon,
.live-events-icon,
.rnb-icon,
.soul-icon {
  left: 0;
}
.afro-icon,
.frequency-icon,
.hip-hop-icon,
.live-events-icon,
.rnb-icon,
.soul-icon {
  top: 635px;
  left: 198px;
}
.afro-icon,
.frequency-icon,
.hip-hop-icon,
.live-events-icon,
.rnb-icon {
  left: 0;
}
.afro-icon,
.hip-hop-icon,
.live-events-icon,
.rnb-icon {
  top: 515px;
  left: 198px;
}
.afro-icon,
.hip-hop-icon,
.live-events-icon {
  left: 0;
}
.afro-icon,
.live-events-icon {
  top: 395px;
  left: 198px;
}
.live-events-icon {
  left: 0;
}
.charts-icon,
.discover-icon,
.made-for-you,
.new-releases-icon,
.podcasts-icon,
.radio-icon {
  position: absolute;
  top: 275px;
  left: 198px;
  border-radius: var(--br-8xs);
  width: 182px;
  height: 104px;
  object-fit: cover;
}
.charts-icon,
.made-for-you,
.new-releases-icon,
.podcasts-icon,
.radio-icon {
  left: 0;
}
.charts-icon,
.made-for-you,
.new-releases-icon,
.podcasts-icon {
  top: 155px;
  left: 198px;
}
.charts-icon,
.made-for-you,
.podcasts-icon {
  left: 0;
}
.made-for-you,
.podcasts-icon {
  top: 35px;
  left: 198px;
}
.podcasts-icon {
  left: 0;
}
.browse-all1 {
  position: absolute;
  top: 0;
  left: 1px;
  font-weight: 500;
}
.browse-all {
  position: absolute;
  top: 285px;
  left: 0;
  width: 380px;
  height: 1480px;
}
.your-top-genres1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.your-top-genres {
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 259px;
}
.content,
.search4 {
  position: absolute;
  left: 17px;
}
.content {
  top: 203px;
  width: 380px;
  height: 1765px;
}
.search4 {
  top: 73px;
  font-size: var(--font-size-lgi);
}
.search-bar-child {
  position: absolute;
  top: 0;
  left: calc(50% - 190px);
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  width: 380px;
  height: 52px;
}
.search-icon {
  position: absolute;
  height: 42.31%;
  top: 30.77%;
  bottom: 26.92%;
  left: calc(50% - 175px);
  max-height: 100%;
  width: 22px;
}
.artists-songs-or,
.search-bar1 {
  position: absolute;
  top: 17px;
  left: calc(50% - 143px);
}
.search-bar1 {
  top: 7px;
  left: calc(50% - 189.5px);
  width: 380px;
  height: 52px;
}
.search-bar {
  position: absolute;
  top: 125px;
  left: 11px;
  background-color: var(--color-gray-100);
  width: 391px;
  height: 66px;
  color: rgba(18, 18, 18, 0.7);
}
.navigation-bar-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(0, 0, 0, 0.6) 20.7%,
    rgba(0, 0, 0, 0.8) 38.53%,
    rgba(0, 0, 0, 0.9) 60.36%,
    rgba(0, 0, 0, 0.95)
  );
}
.your-library2 {
  position: absolute;
  top: 79.32%;
  left: -48.31%;
  font-weight: 500;
}
.icon41 {
  position: absolute;
  height: 61.19%;
  width: 100%;
  top: 0;
  right: -4.66%;
  bottom: 38.81%;
  left: 4.66%;
  border-radius: var(--br-12xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.library2 {
  position: absolute;
  height: 34.27%;
  width: 5.3%;
  top: 49.51%;
  right: 19.57%;
  bottom: 16.21%;
  left: 75.12%;
  opacity: 0.7;
}
.search6 {
  position: absolute;
  top: 79.32%;
  left: -8.9%;
  font-weight: 500;
}
.icon42 {
  position: absolute;
  height: 61.19%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 38.81%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search5 {
  position: absolute;
  height: 34.27%;
  width: 5.3%;
  top: 49.51%;
  right: 47.35%;
  bottom: 16.21%;
  left: 47.35%;
}
.home5 {
  top: 73.37%;
  left: 0;
  font-weight: 500;
}
.home4,
.home5,
.icon43 {
  position: absolute;
}
.icon43 {
  height: 61.19%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 38.81%;
  left: 0;
  border-radius: var(--br-12xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home4 {
  height: 34.27%;
  width: 5.3%;
  top: 49.51%;
  right: 75.12%;
  bottom: 16.21%;
  left: 19.57%;
  opacity: 0.7;
}
.navigation-bar2 {
  position: absolute;
  top: 823px;
  left: -17px;
  width: 445px;
  height: 103px;
  font-size: var(--font-size-5xs);
}
.curent-song-inner {
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-darkslategray-100);
  width: 398px;
  height: 60px;
}
.seed-icon2 {
  position: absolute;
  top: 63px;
  left: 10px;
  max-height: 100%;
  width: 378px;
}
.likeunlike-animation-icon2,
.playpause-icon2 {
  position: absolute;
  height: 27.49%;
  width: 4.42%;
  top: 35.06%;
  right: 2.36%;
  bottom: 37.45%;
  left: 93.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.likeunlike-animation-icon2 {
  height: 100%;
  width: 17.91%;
  top: 0;
  right: 5.7%;
  bottom: 0;
  left: 76.38%;
}
.phone-icon2 {
  width: 23.5px;
  position: relative;
  border-radius: var(--br-10xs-5);
  height: 20px;
}
.phone2 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 11.75px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.device2 {
  position: absolute;
  top: 24px;
  left: 272px;
  width: 23.5px;
  height: 20px;
}
.black-sherif2,
.kwaku-the-traveller2 {
  position: absolute;
  top: 0;
  left: 0;
}
.black-sherif2 {
  top: 14px;
}
.art-icon9,
.titleartist2 {
  position: absolute;
  top: 20px;
  left: 64px;
  width: 102px;
  height: 28px;
}
.art-icon9 {
  top: 12px;
  left: 8px;
  border-radius: var(--br-8xs);
  width: 44px;
  height: 44px;
  object-fit: cover;
}
.curent-song2 {
  position: absolute;
  top: 759px;
  left: 11px;
  width: 398px;
  height: 71.3px;
  font-size: var(--font-size-2xs);
}
.b3 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stats-icon3,
.time3 {
  width: 50.3px;
  position: relative;
  height: 18px;
}
.stats-icon3 {
  width: 66.7px;
  height: 11.3px;
}
.search-screen-1,
.status-bar3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  overflow: hidden;
}
.status-bar3 {
  width: 414px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-lg);
  box-sizing: border-box;
  gap: 0 261px;
  text-align: center;
  font-size: var(--font-size-mini);
  font-family: var(--font-sf-pro-text);
}
.search-screen-1 {
  width: 428px;
  height: 926px;
}
.iphone-14-plus-4 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 926px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-circular-std);
}
