.empty-space1 {
    position: absolute;
    top: 1308px;
    left: 0;
    width: 414px;
    height: 128px;
    overflow: hidden;
  }
  .add-podcast-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 68px;
  }
  .add-podcasts {
    position: absolute;
    top: 25px;
    left: 81px;
  }
  .add-artists,
  .add-podcasts-shows {
    position: absolute;
    top: 1223px;
    left: 0;
    width: 223px;
    height: 68px;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-white);
  }
  .add-artists {
    top: 1138px;
    width: 150px;
  }
  .art-icon10 {
    position: absolute;
    height: 100%;
    width: 32.23%;
    top: 0;
    right: 67.77%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .pinned-icon {
    width: 10.5px;
    position: relative;
    height: 10.5px;
    display: none;
  }
  .downloaded-icon {
    width: 12px;
    height: 12px;
    display: none;
  }
  .downloaded-icon,
  .frame-child,
  .playlist {
    position: relative;
  }
  .frame-child {
    width: 3px;
    border-radius: 50%;
    background-color: var(--color-gray-500);
    height: 3px;
  }
  .pinned-parent {
    position: absolute;
    top: calc(50% + 4px);
    left: 82.3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 4px;
  }
  .liked-songs2 {
    position: absolute;
    top: 26.47%;
    left: 38.39%;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    text-align: left;
  }
  .div,
  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6 {
    position: absolute;
    top: 1053px;
    left: 0;
    width: 211px;
    height: 68px;
  }
  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6 {
    top: 968px;
  }
  .div2,
  .div3,
  .div4,
  .div5,
  .div6 {
    top: 883px;
  }
  .div3,
  .div4,
  .div5,
  .div6 {
    top: 798px;
  }
  .div4,
  .div5,
  .div6 {
    top: 713px;
  }
  .div5,
  .div6 {
    top: 628px;
  }
  .div6 {
    top: 543px;
  }
  .downloaded-icon7 {
    width: 12px;
    position: relative;
    height: 12px;
  }
  .div7,
  .div9,
  .pin-child {
    position: absolute;
    top: 458px;
    left: 0;
    width: 211px;
    height: 68px;
  }
  .div9,
  .pin-child {
    top: 0;
  }
  .pin-child {
    background-color: var(--color-limegreen);
    width: 213px;
  }
  .pinned-icon9 {
    position: absolute;
    height: 35.29%;
    width: 11.27%;
    top: 30.88%;
    right: 15.02%;
    bottom: 33.82%;
    left: 73.71%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .div10,
  .div8,
  .pin {
    position: absolute;
    top: 0;
    left: -230px;
    width: 213px;
    height: 68px;
  }
  .div10,
  .div8 {
    top: 373px;
    left: 0;
    width: 211px;
  }
  .div10 {
    top: 288px;
  }
  .pinned-icon11 {
    width: 10.5px;
    position: relative;
    height: 10.5px;
  }
  .div11,
  .div12 {
    position: absolute;
    top: 203px;
    left: 0;
    width: 211px;
    height: 68px;
  }
  .div12 {
    top: 118px;
  }
  .liked-songs14 {
    position: absolute;
    top: 26.47%;
    left: 38.39%;
    font-size: var(--font-size-sm);
    color: var(--color-limegreen);
    text-align: left;
  }
  .div13,
  .view-icon {
    position: absolute;
    top: 33px;
    left: 0;
    width: 377px;
    height: 68px;
  }
  .view-icon {
    top: 0;
    left: 361px;
    width: 16px;
    height: 16px;
  }
  .recently-played-wrapper {
    position: absolute;
    top: -10px;
    left: 19px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs);
  }
  .sort-icon {
    position: absolute;
    height: 64.29%;
    width: 13.7%;
    top: 14.29%;
    right: 86.3%;
    bottom: 21.43%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .content1,
  .sort-by {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 108px;
    height: 14px;
    color: var(--color-white);
  }
  .content1 {
    top: 204px;
    left: 16px;
    width: 381px;
    height: 1436px;
    color: var(--color-gray-500);
  }
  .scroll-indicator-icon {
    position: absolute;
    top: 259px;
    left: 379px;
    width: 35px;
    height: 52px;
    opacity: 0;
  }
  .your-library-screen-list-1-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-gray-100);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
    width: 414px;
    height: 183px;
  }
  .downloaded {
    position: relative;
    line-height: 140%;
  }
  .albums {
    right: -138.49%;
    left: 201.51%;
    display: none;
  }
  .albums,
  .albums-0,
  .downloaded2,
  .playlists {
    position: absolute;
    height: 100%;
    width: 36.98%;
    top: 0;
    bottom: 0;
    border-radius: var(--br-31xl);
    border: 1px solid var(--color-gray-400);
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: var(--padding-3xs-5) var(--padding-mid-5);
  }
  .playlists {
    right: -107.55%;
    left: 170.57%;
    display: none;
  }
  .albums-0,
  .downloaded2 {
    right: 0;
    left: 63.02%;
    display: flex;
  }
  .albums-0 {
    width: 27.55%;
    right: 40.38%;
    left: 32.08%;
  }
  .cancel-icon,
  .playlists-0 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .playlists-0 {
    height: 100%;
    width: 28.68%;
    top: 0;
    right: 71.32%;
    border-radius: var(--br-31xl);
    border: 1px solid var(--color-gray-400);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: var(--padding-3xs-5) var(--padding-mid-5);
  }
  .cancel-icon {
    height: 97.06%;
    width: 12.45%;
    top: 2.94%;
    right: 87.55%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    display: none;
  }
  .category-selections {
    position: absolute;
    top: 140px;
    left: 17px;
    width: 265px;
    height: 34px;
    text-align: left;
  }
  .top-area-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-gray-100);
    width: 433px;
    height: 140px;
  }
  .add-icon,
  .search-icon1 {
    position: absolute;
    top: 87.6px;
    left: 392.2px;
    width: 23px;
    height: 23.5px;
  }
  .search-icon1 {
    height: 17.36%;
    width: 5.7%;
    top: 62.14%;
    right: 13.23%;
    bottom: 20.5%;
    left: 81.06%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .your-library3 {
    position: absolute;
    top: 86.6px;
    left: 65.9px;
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 109.8px;
    height: 25.6px;
  }
  .profile-pic-icon {
    position: absolute;
    top: 81.2px;
    left: 17.8px;
    border-radius: 50%;
    width: 36.6px;
    height: 37.4px;
    object-fit: cover;
  }
  .rectangle-div,
  .top-area {
    position: absolute;
    top: 0;
    left: 0;
  }
  .top-area {
    width: 433px;
    height: 140px;
    font-size: var(--font-size-lgi);
  }
  .rectangle-div {
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      transparent,
      rgba(0, 0, 0, 0.6) 20.7%,
      rgba(0, 0, 0, 0.8) 38.53%,
      rgba(0, 0, 0, 0.9) 60.36%,
      rgba(0, 0, 0, 0.95)
    );
  }
  .your-library4 {
    position: absolute;
    top: 70.43%;
    left: -47.46%;
    font-weight: 500;
  }
  .icon44 {
    position: absolute;
    height: 61.06%;
    width: 100%;
    top: 0;
    right: -4.66%;
    bottom: 38.94%;
    left: 4.66%;
    border-radius: var(--br-12xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .library3 {
    position: absolute;
    height: 34.31%;
    width: 5.32%;
    top: 49.49%;
    right: 19.57%;
    bottom: 16.2%;
    left: 75.11%;
  }
  .search8 {
    position: absolute;
    top: 70.43%;
    left: -8.47%;
    font-weight: 500;
  }
  .icon45 {
    position: absolute;
    height: 61.06%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 38.94%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .search7 {
    position: absolute;
    height: 34.31%;
    width: 5.32%;
    top: 49.49%;
    right: 47.34%;
    bottom: 16.2%;
    left: 47.34%;
    opacity: 0.7;
  }
  .home7 {
    top: 70.43%;
    left: 0;
    font-weight: 500;
  }
  .home6,
  .home7,
  .icon46 {
    position: absolute;
  }
  .icon46 {
    height: 61.06%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 38.94%;
    left: 0;
    border-radius: var(--br-12xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .home6 {
    height: 34.31%;
    width: 5.32%;
    top: 49.49%;
    right: 75.11%;
    bottom: 16.2%;
    left: 19.57%;
    opacity: 0.7;
  }
  .b4,
  .navigation-bar3 {
    position: absolute;
    left: 0;
  }
  .navigation-bar3 {
    top: 798px;
    width: 444px;
    height: 137px;
    text-align: left;
    font-size: var(--font-size-5xs);
  }
  .b4 {
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .stats-icon4,
  .time4 {
    width: 50.3px;
    position: relative;
    height: 18px;
  }
  .stats-icon4 {
    width: 66.7px;
    height: 11.3px;
  }
  .status-bar4,
  .your-library-screen-list-1 {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .status-bar4 {
    width: 414px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-smi) var(--padding-lg);
    box-sizing: border-box;
    gap: 0 261px;
    font-size: var(--font-size-mini);
    font-family: var(--font-sf-pro-text);
  }
  .your-library-screen-list-1 {
    background-color: var(--color-gray-100);
    width: 444px;
    height: 926px;
  }
  .iphone-14-plus-5 {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    height: 926px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
    font-family: var(--font-circular-std);
  }
  